html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
    background-color: #121212;
    height:100%;
}
h2 {
    font-size: 2em;
    color: transparent;
    margin-top: 20px;
    background-image: linear-gradient(270deg, #5283ff, #52ff77);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: gr 30s ease infinite;
    -moz-animation: gr 30s ease infinite;
    animation: gr 30s ease infinite;
}
footer {
    font-size: 1em;
    margin-top: 20px;
    padding: 5px;
    color:#3dffde;
    text-decoration: none;
}
.project{
    margin-inline: 50px;
    margin-top: 15px;
    width: 150px;
    display: inline-block;
    border-radius: 15px;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 50px;
}
/* Here we go */
.siteTwitter {
    border: #00AAC4 solid;
}
.siteTwitch {
    border: #6441A5 solid;
}
.siteDiscord {
    border: #7289DA solid;
}
.siteItch {
    border: #ED1C24 solid;
}
.siteYoutube {
    border: #FF0000 solid;
}
.siteGithub {
    border: #d1d1d1 solid;
}
.countryDesc {
    display: inline;
}
.country {
    display: inline;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #00AAC4, #F6BF0C);
    background-size: 1400% 1400%;

    -webkit-animation: gr 15s ease infinite;
    -moz-animation: gr 15s ease infinite;
    animation: gr 15s ease infinite;
}
.minimalism {
    display: inline;
}
.judgement {
    color: #ffffff;
    opacity: 0.5;
    display: inline;
}
.coolGradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    background-image: linear-gradient(270deg, #ff6161, #ffea3d, #61ff3d, #3dffde, #3d74ff, #a83dff, #ff3dc4);
    background-size: 1400% 1400%;

    -webkit-animation: gr 10s ease infinite;
    -moz-animation: gr 10s ease infinite;
    animation: gr 10s ease infinite;
}

/* Gradient */
    @-webkit-keyframes gr {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gr {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gr {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
